* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

@font-face {
    font-family: 'Roboto';
    src: url(../Fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins-Light';
    src: url(../Fonts/Poppins/Poppins-Light.ttf);
}

body {
    background-image: url(../img/Wallpaper_register.png);
    background-size: cover;
    background-position: center;
    width: 95%;
    display: flex;
    height: 87vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.brand {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 20px; */
    margin: auto;
    margin-top: 50px;
}

.logo-2 {
    width: 80px;
    height: 80px;
    background-image: url(../img/logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.brand h3 {
    font-size: 20px;
    color: #269AD7;
}

.img {
    margin-top: 25px;
    margin-left: 100px;
}

.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    /* border: 1px solid #ff0000; */
}

.title{
    text-align: center;
}

.container title{
    font-size: 35px;
    font-weight: 500px;

}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    /* border: 1px solid red; */
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .user-details .input-box details{
    display: block;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 30px;
}

#Kewarganegaraan, #status_kesehatan{
   width: 345px;
   height: 45px;
   background-color: #D9D9D9;
   border: none;
   border-radius: 5px;
   padding-left: 10px;
   padding-right: 10px;
   outline: none;
}

#status_vaksinasi {
    width: 715px;
    height: 45px;
   background-color: #D9D9D9;
   border: none;
   border-radius: 5px;
   padding-left: 10px;
   padding-right: 10px;
   outline: none;
}

option {
    font-size: 15px;
}

form .user-details .input-box input{
    height: 48px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    /* border: 1px solid #ccc; */
    background-color: #D9D9D9;
    padding-left: 15px;
    font-size: 15px;
    border-bottom-width: 2px;
    border: none;
}

.user-details ~ .input-box input:focus,
.user-details ~ .input-box input:valid{
    border-color: #1575fe;
}

form .button{
    height: 45px;
    margin: 25px 1px;
}

form .button input{
    height: 100%;
    width: 720px;
    outline: none;
    color: #fff;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #1575fe, #9ac6f5);
}

#submit {
    cursor: pointer;
}

#pesan-passport{
    display: none;
    font-size: 14px;
}

#pesan-sandi {
    font-size: 14px;
    display: none;
}

@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}